spring:
  application:
    name: AdventureTourBooking
  datasource:
    url: jdbc:postgresql://localhost:5432/adventure_tours
    username: postgres
    password: postgres
    driver-class-name: org.postgresql.Driver
  jpa:
    hibernate:
      ddl-auto: update
    open-in-view: false
    properties:
      hibernate:
        dialect: org.hibernate.dialect.PostgreSQLDialect
  liquibase:
    enabled: false
